<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../resources/style.css">
    <title>Title</title>
</head>
<body>
    <div id="dvHeader">
        <p>
            <table width="100%">
                <tr>
                    <td width="80%"><a href="{{access_link}}">{{user_name}}</a></td>
                    <td width="20%">SeriesWatchMan</td>
                </tr>
            </table>
        </p>
    </div>
        <div style="margin: 80px; padding: 40px"/>
        <div id="dvTitle">
        <p align="center"><b>Series Watch Man</b></p>
        <p align="center">Series tracker manager</p>
    </div>
<div style="margin: 80px; padding: 40px"/>
</body>
</html>